In [1]:
x=9;
y=8;
print(x+y)
print(x-y)
print(x*y)
print(x%y)
print(x**y)
print(x/y)
print(x//y)

17
1
72
1
43046721
1.125
1

In [11]:
#range
for i in range(11):
    print(i,end=" ")
print()

0 1 2 3 4 5 6 7 8 9 10

In [6]:
for i in range(-2,10,2):
    print(i,end=" ")
print()

-2 0 2 4 6 8

In [42]:
#data types
a=3;
b='harunesh';
c=4.67
d=1+2j
cricketers=["kohli","Rohit","Dhoni"]
computers=("apple","HP","DELL")
d='joe'
car_company={'BMW':'Germany','hyundai':'korea'}
roll_no={"21,34,27,45"}
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(cricketers[2])
print(computers[2])
print(d)
print(roll_no)
print(type(roll_no))
print(car_company['BMW'])

<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
Dhoni
DELL
joe
{'21,34,27,45'}
<class 'set'>
Germany

In [46]:
n=int(input('enter your number:'))
sum=0
x=n
while(x>0):
    digit=x%10
    sum=sum+digit*digit*digit
    x=x//10
if (n==sum):
    print("armstrong number")
else:
    print("wrong")

enter your number: 153

armstrong number

In [1]:
if 5 > 2:
    print('5 is greater than two')
else:
    print('it is not great')

5 is greater than two

In [21]:
a=1j
b="hello,world !"
c="hello,world !"
d="hello,world !"
print(type(a))
print(b.lower())
print(c.upper())
print(d.replace("w","j"))
print(d[:4])

<class 'complex'>
hello,world !
HELLO,WORLD !
hello,jorld !
hell

In [22]:
age = 18
name = "jono"
txt = f"My name is {name}, I am {age}"
print(txt)

My name is jono, I am 18

In [26]:
x=90
y="hello,World";
print(bool(x))
print(bool(y))

True
True

In [27]:
a = ("apple", "banana", "water")
print(a)

('apple', 'banana', 'cherry')